body {
	font-family: sans-serif;
	font-size: 13px;
}


.header-backdrop {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.2em;
	border-bottom: 1px solid #eee;
}


table {
	border-collapse: collapse;
}


td,
th {
	padding: 6px 12px;
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
}

.pseudo {
	color: blue;
	border-bottom: 1px dotted;
	cursor: pointer;
}

.pseudo:hover {
	color: red;
}

.header_placeholder {
	visibility: hidden;
}

.header_sticky {
	position: fixed;
	top: 0.5em;
}

.header__sort-icon {
	position: absolute;
	margin-left: 2px;
}


tr:hover td {
	background: #f5f5f5;
}

.cell_type_number {
	text-align: right;
}

.cell_positive_yes {
	color: blue;
}

.cell_positive_no {
	color: red;
}